/* Import fonts */
@import url('https://db.onlinewebfonts.com/c/527ea5851ca62a9a758a44dc39437eae?family=Old+English+Text+MT+V2');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Import Tailwind CSS */
@import "tailwindcss";

/* Root variables for consistent theming */
:root {
  --radius: 0.5rem;
  --background: #ffffff;
  --foreground: #000000;
  --primary: #03823B;
  --primary-foreground: #ffffff;
  --secondary: #EBFFF1;
  --secondary-foreground: #ffffff;
  --muted: #A6A6A6;
  --muted-foreground: #6b7280;
  --accent: #EEEEF0;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #03823B;
  --ring: #3b82f6;
  --font-sans:  "Mulish", sans-serif;
  --font-mono: "Fira Code", "Courier New", monospace;
}

.dark {
  --background: #1f2937;
  --foreground: #f9fafb;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #4b5563;
  --secondary-foreground: #ffffff;
  --muted: #374151;
  --muted-foreground: #d1d5db;
  --accent: #10b981;
  --accent-foreground: #ffffff;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --border: #374151;
  --input: #1f2937;
  --ring: #2563eb;
}

/* Base styles */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* h1{
    @apply text-[55px] font-extrabold leading-[55px];
  } */

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
  }

  button {
    cursor: pointer;
    border-radius: var(--radius);
    transition: background-color 0.2s ease, transform 0.1s ease;
  }

  button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}